/* ===== Document style ===== */

* {
    background-color: aquamarine;
    font-family: 'DynaPuff', cursive;
}

/* ===== Display ===== */

header,
.round,
.result,
.roundResult,
.playerCommand {
    display: flex;
    justify-content: center;
}

h1,
.player,
.computer {
    display: flex;
    align-content: center;
}

.initial {
    display: flex;
    align-items: center;
}

.initial,
.player,
.computer {
    flex-direction: column;
}

/* ===== Margins ===== */
figure {
    margin: 0px;
}

.playerCommand p {
    margin-right: 20px;
}

/* ===== Buttons and Images ===== */
.start {
    background-color: red;
    border: 3px solid black;
    border-radius: 15px;
    color: yellow;
    width: 50vw;
    max-width: 450px;
    flex: 1;
}

.initial > figure > img { /* logo disabled */
    /* border: 1px solid red; */
    /* max-width: 100vw;
    width: 600px; */
}

.play > figure > img {
    display: block;
    height: 400px;
    max-height: 24vh;
}

.player {
    min-width: 262px;
    margin-right: 5px;
}

.computer {
    min-width: 262px;
    margin-left: 5px;
}

.option {
    max-height: 140px;
}

/* ====== Text style ====== */

h1 {
    font-size: 3em;
}

.start,
.round > p {
    font-size: 2.5em;
}

.result,
.playerCommand p,
.play,
.roundResult {
    font-size: 2.2em;
}

.play p {
    font-size: 2.2rem;
}

/* ===== Actions ===== */

.option:active {
    background-color: rgba(50, 50, 255, 0.85);
    border-radius: 20%;
}

.start:active {
    background-color: blue;
}

/* ===== Visibility ===== */

main, #play1, #play2 {
    visibility: hidden;
}

@media all and (max-width: 580px) {
    * {
        font-size: 12px;
    }
    .option {
        max-height: 90px;
    }
    figure.playerPlay > img, figure.computerPlay > img {
        max-height: 200px;
    }
    .play p {
        font-size: 2.0rem;
    }
    .player, .computer {
        min-width: 147px;
    }
}

@media all and (max-width: 420px) {
    * {
        font-size: 9px;
    }
    
    .option {
        max-height: 60px;
    }
    figure.playerPlay > img, figure.computerPlay > img {
        max-height: 100px;
    }
    .play p {
        font-size: 2.0rem;
    }
    .player, .computer {
        min-width: 147px;
    }
}